<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		<meta name="guardian_token" content="<%= Guardian.Plug.current_token(@conn) %>">

    <title>Odd Connect - App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
		<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Odd Connect</a>
					</div>

					<%= if not is_nil(@current_organization) do %>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li <%= if js_view_name(@conn, @view_template) =~ ~r/Dashboard/ do %>class="active"<% end %>><a href="<%= dashboard_path(@conn, :index) %>">Dashboard</a></li>
							<li <%= if js_view_name(@conn, @view_template) =~ ~r/Connection/ do %>class="active"<% end %>><a href="<%= connection_path(@conn, :index) %>">Connections</a></li>
							<li <%= if js_view_name(@conn, @view_template) =~ ~r/Transaction/ do %>class="active"<% end %>><a href="<%= transaction_path(@conn, :index) %>">Transactions</a></li>
							<li <%= if js_view_name(@conn, @view_template) =~ ~r/Entitlement/ do %>class="active"<% end %>><a href="<%= entitlement_path(@conn, :index) %>">Entitlements</a></li>
							<li <%= if js_view_name(@conn, @view_template) =~ ~r/Webhook/ do %>class="active"<% end %>><a href="<%= webhook_path(@conn, :index) %>">Webhooks</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<%= @current_account.name %> (<%= @current_account.email %>) <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<%= link to: account_path(@conn, :edit) do %>
											<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Your Account
										<% end %>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<%= link to: documentation_path(@conn, :index) do %>
											<span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Documentation
										<% end %>
									</li>
									<%= if not is_nil(@current_organization) do %>
									<li>
										<a href="<%= organization_path(@conn, :edit, @current_organization.urn) %>">
											<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<%= @current_organization.name %> Settings
										</a>
									</li>
									<% end %>
									<%= if @current_account.is_admin do %>
										<li>
											<a href="<%= organization_path(@conn, :index) %>">
												<span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;Switch Account
											</a>
										</li>
										<li role="separator" class="divider"></li>
									<% end %>
									<li>
										<%= link to: session_path(@conn, :delete, @current_account), method: "delete" do %>
											<span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log Out
										<% end %>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<% end %>
				</div>
			</nav>

		<%= if success = get_flash(@conn, :success) do %>
			<div class="container"><div class="alert alert-success alert-dismissable fade in">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p><%= success %></p>
			</div></div>
		<% end %>
		<%= if info = get_flash(@conn, :info) do %>
			<div class="container"><div class="alert alert-info alert-dismissable fade in">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p><%= info %></p>
			</div></div>
		<% end %>
		<%= if error = get_flash(@conn, :error) do %>
			<div class="container"><div class="alert alert-danger alert-dismissable fade in">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p><%= error %></p>
			</div></div>
		<% end %>
		<%= if warning = get_flash(@conn, :warning) do %>
			<div class="container"><div class="alert alert-warning alert-dismissable fade in">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p><%= warning %></p>
			</div></div>
		<% end %>

    <%= render @view_module, @view_template, assigns %>


    <footer class="footer">
			<div class="container">
				<p class="text-muted">Powered by <a href="http://oddnetworks.com">Odd Networks</a><span class="logo"></span></p>
			</div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
