<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Transactions</h4>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th colspan="5" class="text-right">
							<%= display_current_record_set(@page) %>
						</th>
					</tr>
					<tr>
						<th>Platform</th>
						<th>Entitlement</th>
						<th>Email<%#= table_link @conn, "Email", :email %></th>
						<th>Status</th>
						<th class="text-right">Date<%#= table_link @conn, "Date", :date %></th>
					</tr>
				</thead>
				<tbody>
					<%= for transaction <- @page.entries do %>
						<tr>
							<td><span class="label <%= platform_label_class(transaction.platform) %>"><%= humanized_platform(transaction.platform) %></span></td>
							<td><%= link transaction.entitlement, to: entitlement_path(@conn, :edit, transaction.entitlement_id) %></td>
							<td><%= link transaction.email, to: app_device_user_path(@conn, :show, transaction.email) %></td>
							<td><%= valid_transaction?(transaction) %>
							<td class="text-right"><%= format_date_in_timezone(transaction.date, @current_account.timezone) %></td>
						</tr>
					<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5" class="text-right">
							<%= pagination_links(@page) %>
							<%= display_current_page(@page) %>
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
