<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Select an Organization</h3>
			<div class="list-group">
				<%= for organization <- @organizations do %>
					<%= link to: organization_account_path(@conn, :select, organization.urn), class: "list-group-item" do %>
						<h4><%= organization.name %></h4>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
