<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Log In</h1>
			<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
				<fieldset>
					<legend>Account</legend>
				  <div class="form-group">
				    <%= email_input f, :email, placeholder: "Email",
				                              class: "form-control" %>
				  </div>
				  <div class="form-group">
				    <%= password_input f, :password, placeholder: "Password",
				                                     class: "form-control" %>
				  </div>
				</fieldset>
			  <%= submit "Log In", class: "btn btn-primary" %>
			<% end %>
			<p><%= link "Forgot your password?", to: password_path(@conn, :new) %></p>
		</div>
	</div>
</div>
