<div class="container">
	<h1>Registration</h1>
	<%= form_for @conn, registration_path(@conn, :create), [as: :registration], fn f -> %>
		<%= if @form.errors do %>
		<div class="alert alert-danger">
			<p>There are some errors</p>
			<p><%= @form.errors %></p>
		</div>
		<% end %>
		<fieldset>
			<legend>Account</legend>
			<div class="form-group">
		    <%= email_input f, :email, placeholder: "Email",
		                              class: "form-control" %>
		  </div>
		  <div class="form-group">
		    <%= text_input f, :name, placeholder: "Name",
		                             class: "form-control" %>
		  </div>
		  <div class="form-group">
		    <%= password_input f, :password, placeholder: "Password",
		                                     class: "form-control" %>
		  </div>
		</fieldset>
		<fieldset>
			<legend>Organization</legend>
			<div class="form-group">
				<%= text_input f, :organization_name, placeholder: "Organization Name",
																							class: "form-control" %>
			</div>

			<div class="form-group">
				<%= text_input f, :organization_urn, placeholder: "Organization URN",
																							class: "form-control" %>
			</div>
		</fieldset>

	  <%= submit "Create Account", class: "btn btn-primary" %>
	<% end %>
</div>
