<%= form_for @webhook, @action, [as: :webhook, method: @method], fn f -> %>
	<div class="form-group">
		<%= label f, :type, class: "control-label text-uppercase text-muted" %>
		<%= select f, :type, @valid_types, class: "form-control" %>
	</div>
	<%= input f, :url %>
	<%= json_input f, :headers %>

	<%= submit "Submit", class: "btn btn-primary" %>
<% end %>
