<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>Webhooks</h4>
			<p>Organizations can use webhooks to POST data back when certain events occur.</p>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							<%= link "Create Webhook", to: webhook_path(@conn, :new), class: "btn btn-info btn-sm", role: "button" %>
						</th>
						<th colspan="2" class="text-right">
							<%= display_current_record_set(@webhooks) %>
						</th>
					</tr>
					<tr>
						<th>Type</th>
						<th colspan="2">URL</th>
					</tr>
				</thead>
				<tbody>
					<%= for webhook <- @webhooks do %>
						<tr>
							<td><%= webhook.type %></td>
							<td><%= webhook.url %></td>
							<td class="text-right">
								<%= link "Edit", to: webhook_path(@conn, :edit, webhook.id), class: "btn btn-default btn-sm", role: "button" %>
								<%= link "Delete", to: webhook_path(@conn, :delete, webhook.id), class: "btn btn-danger btn-sm", role: "button", method: "delete", data: [confirm: "Are you sure?"] %>
							</td>
						</tr>
					<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="3" class="text-right">
							<%= pagination_links @webhooks %>
							<%= display_current_page(@webhooks) %>
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
