<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Editing Account</h3>

			<%= form_for @changeset, @action, fn f -> %>
				<%= input f, :name %>
				<%= input f, :timezone, using: :select, options: @timezones, class: "form-control", help: "Dates and times will be shown in this timezone" %>

				<%= submit "Submit", class: "btn btn-sm btn-primary" %>
			<% end %>
		</div>
		<div class="col-md-6">
			<h3>New Password</h3>
			<%= form_for @password_changeset, @password_action, fn f -> %>
				<%= input f, :current_password %>
				<%= input f, :password %>
				<%= input f, :password_confirmation %>
				<%= submit "Update Password", class: "btn btn-sm" %>
			<% end %>
		</div>
	</div>
</div>
