<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
  		<h1>Reset Password</h1>
  		<p>Please enter a new password for your account.</p>
  		<%= form_for @changeset, password_path(@conn, :update, @token), [method: "put"], fn f -> %>
    		<fieldset>
					<legend>Password</legend>
      		<%= input f, :password %>
					<%= input f, :password_confirmation %>
				</fieldset>

				<%= submit "Reset Password", class: "btn btn-primary "%>

			<% end %>
		</div>
	</div>
</div>
