<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
  		<h1>Reset Password</h1>
			<%= form_for @changeset, @action, fn f -> %>
				<%= input f, :email %>
				<%= submit "Send reset link", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
