<div class="container">

	<div class="row">
		<div class="col-md-12">
			<%= if @organization.action do %>
		    <div class="alert alert-danger">
		      <p>Oops, something went wrong! Please check the errors below.</p>
		    </div>
		  <% end %>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
				<li role="presentation"><a href="#templates" aria-controls="templates" role="tab" data-toggle="tab">Templates</a></li>
				<li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced</a></li>
				<li role="presentation"><a href="#api-token" aria-controls="api-token" role="tab" data-toggle="tab">API Token</a></li>
				<li role="presentation"><a href="#signing-key" aria-controls="signing-key" role="tab" data-toggle="tab">Public Signing Key</a></li>
				<li role="presentation"><a href="#data-cleanup" aria-controls="data-cleanup" role="tab" data-toggle="tab">Data Cleanup</a><li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="settings">
					<div class="panel-header">
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<%= form_for @organization, @action, [as: :organization, method: "put"], fn f -> %>

									<%= input f, :name %>
									<%= inputs_for f, :settings, fn s -> %>
										<fieldset>
											<legend>Roku</legend>
											<%= input s, :roku_api_key %>
										</fieldset>
										<fieldset>
											<legend>Apple</legend>
											<%= input s, :apple_app_shared_secret %>
											<%= checkbox_switch s, :use_apple_sandbox_environment, data: [toggle: "tooltip", placement: "top"], title: "Toggle Validation with Apple Sandbox Environment" %>
										</fieldset>
										<fieldset>
											<legend>Google</legend>
											<%= input s, :google_package_name %>
											<%= input s, :google_service_account %>
											<%= input s, :google_service_account_private_key, using: :textarea %>
										</fieldset>
										<fieldset>
											<legend>Amazon</legend>
											<%= input s, :amazon_shared_secret %>
											<%= checkbox_switch s, :amazon_use_sandbox, data: [toggle: "tooltip", placement: "top"], title: "Toggle Amazon RVS Sandbox" %>
										</fieldset>
										<fieldset>
											<legend>Review Mode</legend>

											<p>When apps are undergoing the submission process, it may be necessary
											 to allow access to your applications without requiring email verification
											  (ie. QA does not have access to the inbox of the email address they are using).
												In this case, you can put your Organization into "Review Mode" by checking the box below.</p>

											<%= checkbox_switch s, :in_review_mode, data: [toggle: "tooltip", placement: "top"], title: "Toggle Review Mode for Organization" %>

										</fieldset>
									<% end %>

									<div class="form-group">
										<%= submit "Save", class: "btn btn-primary" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="templates">
					<div class="panel-header">
					</div>
					<div class="panel-body">
						<p>The following templates for user-facing items are available for you to customize.</p>
						<%= form_for @organization, @action, [as: :organization, method: "put"], fn f -> %>
							<%= inputs_for f, :templates, fn t -> %>
								<%= input t, :device_connection_email_subject, using: :text_input %>
								<%= input t, :device_connection_email_html, using: :textarea, help: raw("Available fields: #{device_connection_email_template_fields()}") %>
								<%= input t, :device_connection_email_text, using: :textarea, help: raw("Available fields: #{device_connection_email_template_fields()}") %>
							<% end %>
							<div class="form-group">
								<%= submit "Save", class: "btn btn-primary" %>
							</div>
						<% end %>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="advanced">
					<div class="panel-header">
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<%= form_for @organization, @action, [as: :organization, method: "put"], fn f -> %>
									<p class="alert alert-warning">Warning: Updating the URN value can affect pending connections</p>
									<%= input f, :urn %>
									<div class="form-group">
										<%= submit "Save", class: "btn btn-primary" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="api-token">
					<div class="panel-header">
						<h4>Generate API Token</h4>
					</div>
					<div id="api-token-body"></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="signing-key">
					<div class="panel-header">
						<h4>Download Public Signing Key</h4>
					</div>
					<div class="panel-body">
						<p>The Public Signing Key is used to verify the JWT that is generated upon successful verification of a Connection.</p>
						<%= button to: signing_key_path(@conn, :index), method: "get", class: "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download
						<% end %>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="data-cleanup">
					<div class="panel-header">
						<h4>Data Cleanup</h4>
					</div>
					<div id="data-cleanup-body"></div>
				</div>
			</div>
		</div>
	</div>
</div>
