<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><%= link "Dashboard", to: dashboard_path(@conn, :index) %></li>
				<li><a href="<%= organization_path(@conn, :edit, @current_organization.urn) %>">Organization</a></li>
				<li class="active">Organizations</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Select an Organization</h3>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Organization</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<%= for organization <- @organizations do %>
						<tr>
							<td><%= organization.name %></td>
							<td>
								<%= link "Switch", to: organization_path(@conn, :switch, organization.id), class: "btn btn-xs btn-info", role: "button" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
