$icon-font-path: "/fonts/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
.pie-canvas {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display: block;
}

.logo {
	display: block;
	background-image: url("/images/logo.svg");
	background-size: 3em 1em;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>form>a {
		color: #9d9d9d;
		padding: 5px 15px 5px 25px;
		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
			background-color: transparent;
		}
	}
}

.dropdown-menu>li>form>a {
	white-space: nowrap;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	padding: 3px 20px;
	line-height: 1.42857;
	color: #333;
	display: block;
	&:hover,
	&:focus {
		text-decoration: none;
		color: #262626;
		background-color: #f5f5f5;
	}
}

.container.alert>p {
	margin-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body>.container:first-of-type {
	padding: 60px 15px 0;
}

.container {
	.text-muted {
		margin: 20px 0;
	}
	label.text-muted {
		margin: 0 0 5px 0;
		font-size: 12px;
	}
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

#copyToClipboard,
#generateToken {
	cursor: pointer;
}

.btn-danger.btn-link {
	color: #9b2d29;
}

td form.link {
	display: inline;
}

.not-found-page {
	background: url(/images/braydon-anderson-105552.jpg) no-repeat center center fixed;
	background-size: cover;
	>.container {
		margin-top: 1em;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.jumbotron {
		background: none;
	}
}

.server-error-page {
	@extend .not-found-page;
	background: url(/images/matthew-henry-58760.jpg) no-repeat center center fixed;
	background-size: cover;
}

.nav-tabs>li>a {
	border-top: none;
	border-left: none;
	border-right: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #333;
}

.nav-tabs>li>a {
	margin-right: 0px;
	border-radius: 0px;
}

.nav-tabs>li>a:hover {
	border-color: transparent;
	border-bottom: 1px solid #23527c;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
}

.label-roku {
	background-color: #662c91;
}

.label-google {
	background-color: #4285F4;
}

.label-apple {
	background-color: rgba(0, 0, 0, 0.8);
}

.label-amazon {
	background-color: #FEBD69;
	color: #000000;
}

.label-web {
	@extend .label-success;
}

/**
 * Switch Styles
 */

/* Variables */

$switch-transition-duration: 0.25s;
$switch-transition-timing-function: ease;
$switch-label-width: 48px;
$switch-label-height: 24px;
$switch-rail-width: 100%;
$switch-rail-height: 100%;
$switch-rail-background-color: #dedede;
$switch-rail-border-radius: 9999em;
$switch-rail-checked-background-color: #89c12d;
$switch-knob-width: 24px;
$switch-knob-height: 24px;
$switch-knob-border-radius: 50%;
$switch-knob-background-color: #fff;
$switch-knob-box-shadow: 0 0 2px rgba(0,
0,
0,
0.45);
$switch-knob-checked-left: $switch-knob-width;
/* Switch Container */

.switch {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
}

/* Hide the checkbox input (only needed for `:checked` property) */

.switch-input {
	display: none;
}

/* Switch */

label.switch-label {
	margin: 0;
}

.switch-label {
	display: block;
	width: $switch-label-width;
	height: $switch-label-height;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	color: transparent;
	user-select: none;
	/* Switch Rail & Knob */
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		cursor: pointer;
	}
	/* Switch Rail */
	&:before {
		width: $switch-rail-width;
		height: $switch-rail-height;
		background-color: $switch-rail-background-color;
		border-radius: $switch-rail-border-radius;
		transition: background-color $switch-transition-duration $switch-transition-timing-function;
	}
	/* Switch Knob */
	&:after {
		top: 0;
		left: 0;
		width: $switch-knob-width;
		height: $switch-knob-height;
		border-radius: $switch-knob-border-radius;
		background-color: $switch-knob-background-color;
		box-shadow: $switch-knob-box-shadow;
		transition: left $switch-transition-duration $switch-transition-timing-function;
	}
}

/* When input is checked */

.switch-input:checked+.switch-label {
	/* Switch Rail */
	&:before {
		background-color: $switch-rail-checked-background-color;
	}
	/* Switch Knob */
	&:after {
		left: $switch-knob-checked-left;
	}
}

#transaction-select-all {
	cursor: pointer;
}
