<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Transactions</div>
				<div class="panel-body">
					<div class="pie-chart" data-pie='<%= encode_stats(@transaction_stats, :last_day) %>'>
						<h5>New Subscriptions Last 24 Hours</h5>
						<div class="pie-legend"></div>
						<canvas class="pie-canvas" width="300px" height="300px"></canvas>
					</div>
					<div class="pie-chart" data-pie='<%= encode_stats(@transaction_stats, :total_valid) %>'>
						<h5>Currently Valid Subscriptions</h5>
						<div class="pie-legend"></div>
						<canvas class="pie-canvas" width="300px" height="300px"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
	  	<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Connections</div>
				<div class="panel-body">
					<div class="pie-chart" data-pie='<%= encode_stats(@connection_stats, :last_day) %>'>
						<h5>New Connections Last 24 Hours</h5>
						<div class="pie-legend"></div>
						<canvas class="pie-canvas" width="300px" height="300px"></canvas>
					</div>
					<div class="pie-chart" data-pie='<%= encode_stats(@connection_stats, :total) %>'>
						<h5>Total Connections</h5>
						<div class="pie-legend"></div>
						<canvas class="pie-canvas" width="300px" height="300px"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
