<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Connections</h4>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th colspan="3" class="text-right">
							<%= display_current_record_set(@page) %>
						</th>
					</tr>
					<tr>
						<th>Platform</th>
						<th>Email</th>
						<th class="text-right">Date</th>
					</tr>
				</thead>
				<tbody>
					<%= for connection <- @page.entries do %>
						<tr>
							<td><%= connection.platform %></td>
							<td><%= link connection.email, to: app_device_user_path(@conn, :show, connection.email) %></td>
							<td class="text-right"><%= format_date_in_timezone(connection.date, @current_account.timezone) %></td>
						</tr>
					<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="3" class="text-right">
							<%= pagination_links(@page) %>
							<%= display_current_page(@page) %>
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
