<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Editing Entitlement for <%= @organization.name %></h3>
			<%= render "form.html", types: @types, platforms: @platforms, entitlement: @changeset, action: @action, method: @method %>
		</div>
		<div class="col-md-6">
			<div class="well well-lg">
				<h4>Definitions</h4>
				<dl>
					<dt>Type<dt>
					<dd>Choose between <code>subscription</code> and <code>asset</code>. Any Transaction associated with a <code>subscription</code> type of Entitlement that is on one of the non-<code>WEB</code> platforms will be validated externally until it has been marked invalidated.</dd>
					<dt>Entitlement Identifier</dt>
					<dd>The value here should match up against the identifier of an asset or subscription in your system. For example, the subscription level identifier, or the identifier of a digital asset.<dd>
					<dt>Product Identifier</dt>
					<dd>The product identifier value should match against the identifier of a specific product within the external platform store/marketplace. For example, the Roku product identifier.</dd>
					<dt>Platform</dt>
					<dd>The platform value will identify the external store/marketplace in which the Product Identifier can be located.</dd>
				</dl>

				<h4>Removing Entitlements</h4>

				<p>Removing entitlements should only be done when you are absolutely sure that no linked transactions exist. Proceed with caution.</p>
				<div class="text-right">
					<%= link "Delete \"#{@entitlement.name}\" Entitlement", to: entitlement_path(@conn, :delete, @entitlement.id), class: "btn btn-danger btn-link", role: "button", method: "delete", data: [confirm: "Are you sure?\n\nRemoving entitlements should only be done when you are absolutely sure that no linked transactions exist."] %>
				</p>

			</div>
		</div>
	</div>
</div>
