<%= form_for @entitlement, @action, [as: :entitlement, method: @method], fn f -> %>
	<%= input f, :name %>
	<%= input f, :description, using: :textarea %>

	<fieldset>
		<legend></legend>
		<p class="alert alert-warning">Warning: Updating the values below can affect existing transactions.</p>
		<%= input f, :type, [options: @types, using: :select, class: "form-control"] %>
		<%= input f, :entitlement_identifier %>
		<%= input f, :product_identifier %>
		<%= input f, :platform, [options: @platforms, using: :select, class: "form-control"] %>
	</fieldset>

	<%= submit "Submit", class: "btn btn-primary" %>
<% end %>
