<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>Entitlements</h4>
			<p>Manage the available Entitlements for your Organization.</p>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							<%= link "Create Entitlement", to: entitlement_path(@conn, :new), class: "btn btn-info btn-xs", role: "button" %>
						</th>
						<th colspan="4" class="text-right">
							<%= display_current_record_set(@entitlements) %>
						</th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Platform</th>
						<th>Entitlement Identifier</th>
						<th colspan="2">Product Identifier</th>
					</tr>
				</thead>
				<tbody>
					<%= for entitlement <- @entitlements do %>
						<tr>
							<td><%= entitlement.name %></td>
							<td>
								<span class="label <%= platform_label_class(entitlement.platform) %>"><%= humanized_platform(entitlement.platform) %></span></td>
							</td>
							<td><code><%= entitlement.entitlement_identifier %></code></td>
							<td><code><%= entitlement.product_identifier %></code></td>
							<td class="text-right">
								<%= link "Edit", to: entitlement_path(@conn, :edit, entitlement.id), class: "btn btn-default btn-xs", role: "button" %>
							</td>
						</tr>
					<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5" class="text-right">
							<%= pagination_links @entitlements %>
							<%= display_current_page(@entitlements) %>
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
