<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><%= link "Dashboard", to: dashboard_path(@conn, :index) %></li>
				<li><%= link "Organization Settings", to: organization_path(@conn, :edit, @organization.urn) %></li>
	  		<li class="active">New Entitlement</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>New Entitlement for <%= @organization.name %></h3>
			<%= render "form.html", types: @types, platforms: @platforms, entitlement: @entitlement, action: @action, method: @method %>
		</div>
	</div>
</div>
