<div class="container">
	<div class="jumbotron">
	  <h2><%= gettext "Welcome to %{name}", name: "Odd Connect!" %></h2>
	  <p class="lead">A service to connect your services<br> to your customers and their devices.</p>
	</div>
</div>
