<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @organization.name %> - Device Connection</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
		<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= @organization.name %> - Device Connection</a>
        </div>
      </div>
    </nav>

		<%= if success = get_flash(@conn, :success) do %>
			<div class="container alert alert-success">
				<p><%= success %></p>
			</div>
		<% end %>
		<%= if info = get_flash(@conn, :info) do %>
			<div class="container alert alert-info">
				<p><%= info %></p>
			</div>
		<% end %>
		<%= if error = get_flash(@conn, :error) do %>
			<div class="container alert alert-danger">
				<p><%= error %></p>
			</div>
		<% end %>
		<%= if warning = get_flash(@conn, :warning) do %>
			<div class="container alert alert-warning">
				<p><%= warning %></p>
			</div>
		<% end %>

    <%= render @view_module, @view_template, assigns %>

    <footer class="footer">
			<div class="container">
				<p class="text-muted">Powered by <a href="http://oddnetworks.com">Odd Networks</a></p>
			</div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
