<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Showing Device Users for <%= @organization.name %></h3>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Email</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<%= for device_user <- @device_users do %>
						<tr>
							<td><%= device_user.email %></td>
							<td>
								<%= link "Show", to: app_device_user_path(@conn, :show, device_user.email), class: "btn btn-xs btn-danger", role: "button" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
