<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3><%= @device_user.email %></h3>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h4>Transactions</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Platform</th>
						<th>External Identifier</th>
						<th>Status</th>
						<th>Entitlement</th>
						<th>Product</th>
					</tr>
				</thead>
				<tbody>
					<%= for transaction <- sort_by_date(@transactions, :inserted_at) do %>
						<tr>
							<td><%= format_date_in_timezone(transaction.inserted_at, @current_account.timezone) %></td>
							<td><span class="label <%= platform_label_class(transaction.platform) %>"><%= humanized_platform(transaction.platform) %></span></td>
							<td><code><%= transaction.external_identifier %></code></td>
							<td><span class="label <%= transaction_status_class(transaction.invalidated_at) %>"><%= transaction_status_text(transaction.invalidation_reason) %></span></td>
							<td><%= transaction.entitlement.name %> <code><%= transaction.entitlement.entitlement_identifier %></code></td>
							<td><code><%= transaction.entitlement.product_identifier %></code></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Connections</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Platform</td>
						<th>External Identifier</th>
					</tr>
				</thead>
				<tbody>
					<%= for connection <- sort_by_date(@connections, :verified_at) do %>
						<tr>
							<td><%= format_date_in_timezone(connection.verified_at, @current_account.timezone) %></td>
							<td><span class="label <%= platform_label_class(connection.device.platform) %>"><%= humanized_platform(connection.device.platform) %></span></td>
							<td><code><%= connection.device.external_identifier %></code></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
