<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Odd Connect - App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="not-found-page">

		<div class="container">
		  <!-- Jumbotron -->
		  <div class="jumbotron">
		    <h1><i class="glyphicon glyphicon-sunglasses"></i> 404 - Act Cool</h1>
		    <p class="lead">Nope, nothing to see here.</p>

		    <p>
					<%= link "Home", to: page_path(@conn, :index), class: "btn btn-primary btn-large" %>&nbsp;
					<%= link "Go to App", to: page_path(@conn, :index), class: "btn btn-default btn-large" %>
				</p>
		  </div>
		</div>
		<div class="container">
		  <div class="body-content">
		    <div class="row">
		      <div class="col-md-6">
		        <h2>What happened?</h2>
		        <p class="lead">A 404 error status implies that the file or page that you're looking for could not be found.</p>
		      </div>
		      <div class="col-md-6">
		        <h2>What can I do?</h2>
		        <p class="lead">If you're a site visitor</p>
		        <p>Please use your browser's back button and check that you're in the right place. If you need immediate assistance, please send us an email instead.</p>
		        <p class="lead">If you're a disguised canine</p>
		        <p>Remain calm. Nobody suspects a thing.</p>
	  				<p class="pull-right small text-muted">Photo Credit: <a href="https://unsplash.com/@braydona">Braydon Anderson</a></p>
		     </div>
		    </div>
		  </div>
		</div>

    <footer class="footer">
			<div class="container">
				<p class="text-muted">Powered by <a href="http://oddnetworks.com">Odd Networks</a></p>
			</div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
