<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Odd Connect - App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="server-error-page">

		<div class="container">
		  <!-- Jumbotron -->
		  <div class="jumbotron">
				<h1><span class="glyphicon glyphicon-fire red"></span> 500 - Don't Worry</h1>
		    <p class="lead">The web server is returning an internal error, but it will all be OK.</p>
		    <a href="javascript:document.location.reload(true);" class="btn btn-default btn-large">Try This Page Again</a>
		  </div>
		</div>
		<div class="container">
		  <div class="body-content">
		    <div class="row">
		      <div class="col-md-6">
						<h2>What happened?</h2>
		        <p class="lead">A 500 error status implies there is a problem with the web server's software causing it to malfunction.</p>
		      </div>
		      <div class="col-md-6">
		        <h2>What can I do?</h2>
		        <p class="lead">If you're a site visitor</p>
		        <p>Nothing you can do at the moment. If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.</p>
		        <p class="lead">If you're a canine experiencing an existential crisis</p>
		        <p>Remember, you can always blame the cat.</p>
	  				<p class="pull-right small text-muted">Photo Credit: <a href="https://unsplash.com/@matthewhenry">Matthew Henry</a></p>
		     </div>
		    </div>
		  </div>
		</div>

    <footer class="footer">
			<div class="container">
				<p class="text-muted">Powered by <a href="http://oddnetworks.com">Odd Networks</a></p>
			</div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
