<template>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" @click="generateToken()" title="Generate API Token">
					<span class="glyphicon glyphicon-refresh" aria-hidden=true></span><span class="sr-only">Generate API Token</span>
				</button>
			</span>
			<input type="text" class="form-control" ref="api-token" v-model="api_token" @focus="$event.target.select()" autocomplete="off" readonly>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" @click="copyToClipboard()" title="Copy to clipboard">
					<span class="glyphicon glyphicon-copy" aria-hidden=true></span><span class="sr-only">Copy To Clipboard</span>
				</button>
			</span>
		</div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      api_token: null,
      channel: null
    };
  },
  mounted() {
    const self = this;
    this.$socket.findChannel("edit", "organization").then(res => {
      self.channel = res.channel;
      self.channel.on("generated_api_token", payload => {
        self.api_token = payload.token;
      });
    });
  },
  methods: {
    generateToken() {
      this.channel.push("generate_api_token", {});
    },
    copyToClipboard() {
      this.$refs["api-token"].focus();
      document.execCommand("copy", false, this.api_token);
    }
  }
};
</script>
