<template>
	<div id="connections">
		<h5>Connection Data</h5>
		<p>Remove connections created during review</p>
		<div class="alert alert-info alert-dismissible fade in" v-bind:hidden="alert.hide">
			<button type="button" class="close" aria-label="Hide" @click="hideAlert()">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>{{alert.text}}</p>
		</div>

		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#purge-review-connections">
			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Purge "Review Mode" Connections
		</button>

		<div class="modal fade" id="purge-review-connections" tabindex="-1" role="dialog" aria-labelledby="purge-review-connections-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="purge-review-connections-label">Purge "Review Mode" Connections</h4>
					</div>
					<div class="modal-body">
						<p>Removes any Connections made to your organization while in "Review Mode".</p>
						<p><strong>This action cannot be reversed.</strong></p>
						<p>Please type <code>connections</code> into the input below to confirm:</p>
						<div class="form-group" v-bind:class="{'has-error': valid == false}">
							<input v-model="purge.confirmation" @input="validate()" type="text" class="form-control" value="" autocomplete="off" />
						</div>
					</div>
					<div class="modal-footer">
						<button @click="confirmPurge()" class="btn btn-danger btn-sm" :disabled="valid == false">
							<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Purge Connections
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  data() {
    return {
      alert: {
        hide: true,
        text: ""
      },
      channel: null,
      purge: {
        confirmation: null
      },
      valid: false
    };
  },
  mounted() {
    const self = this;
    this.$socket.findChannel("edit", "organization").then(res => {
      self.channel = res.channel;
      self.channel.on("purged_review_connections", payload => {
        self.alert.text = `${payload.total} connections purged`;
        self.alert.hide = false;
      });
    });
  },
  methods: {
    confirmPurge() {
      if (this.valid) {
        this.channel.push("purge_review_connections", {});
        $("#purge-review-connections").modal("hide");
        this.purge.confirmation = null;
      }
      this.valid = false;
    },
    validate() {
      if (this.purge.confirmation == "connections") {
        this.valid = true;
      } else {
        this.valid = false;
      }
    }
  }
};
</script>
