<template>
	<div id="transactions">
		<h5>Transactions</h5>
		<p>Find and remove transactions from your organization.</p>

		<div class="alert alert-info alert-dismissible fade in" v-bind:hidden="alert.hide">
			<button type="button" class="close" aria-label="Hide" @click="hideAlert()">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>{{alert.text}}</p>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th colspan="5">
						<div class="input-group input-group-sm">
							<input v-model="email" type="search" class="form-control" aria-label="Search" placeholder="email@example.com">
							<div class="input-group-btn">
								<button @click="search()" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search
								</button>
							</div>
						</div>
					</th>
				</tr>
				<tr>
					<th>
						<button type="button" class="btn btn-link btn-xs" title="Select/Deselect All" @click="selectDeselectAll()">
							<span class="glyphicon" v-bind:class="{'glyphicon-check': selected_transactions.length == transactions.length, 'glyphicon-unchecked': selected_transactions.length < transactions.length}" aria-label="Select/Deselect All"></span><span class="sr-only">Select/Deselect</span>
						</button>
					</th>
					<th>Email</th>
					<th>Platform</th>
					<th>Status</th>
					<th class="text-right">Created</th>
				</tr>
			</thead>
			<tbody :key="transaction.id" v-for="transaction in transactions">
					<tr>
						<td><input v-model="selected_transactions" type="checkbox" name="transactions[]" :value="transaction.id" /></td>
						<td>{{transaction.email}}</td>
						<td><span class="label" v-bind:class="transaction.platform.class">{{transaction.platform.name}}</span></td>
						<td><span class="label" v-bind:class="transaction.status.class" v-bind:title="transaction.status.date">{{transaction.status.text}}</span></td>
						<td class="text-right">{{transaction.date}}</td>
					</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-right">
						<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#transaction-invalidate-confirmation" :disabled="selected_transactions.length < 1">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Invalidate
						</button>
						<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#transaction-delete-confirmation" :disabled="selected_transactions.length < 1">
							<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
						</button>
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="modal fade transaction-confirmation-modal" id="transaction-invalidate-confirmation" tabindex="-1" role="dialog" aria-labelledby="invalidate-transactions-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="invalidate-transactions-label">Invalidate Transactions</h4>
					</div>

					<div class="modal-body">
						<p>Invalidates any selected Transactions with the reason given below.</p>
						<p><strong>This action cannot be reversed.</strong></p>
						<div class="form-group" v-bind:class="{'has-error' : valid_invalidation_reason == false}">
							<label class="control-label text-uppercase text-muted">Invalidation Reason</label>
							<input v-model="invalidation.reason" @input="validate()" type="text" class="form-control">
						</div>
						<p>Please type <code>invalidate</code> into the input below to confirm:</p>
						<div class="form-group" v-bind:class="{'has-error' : valid_invalidation_confirmation == false}">
							<input v-model="invalidation.confirmation" @input="validate()" type="text" class="form-control" name="confirmation-text" value="" autocomplete="off" />
						</div>
					</div>
					<div class="modal-footer">
						<button @click="confirmInvalidate()" class="btn btn-danger btn-sm" :disabled="selected_transactions.length < 1 || valid_invalidation_confirmation == false || valid_invalidation_reason == false">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;Invalidate Transactions
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade transaction-confirmation-modal" id="transaction-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="delete-transactions-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="delete-transactions-label">Delete Transactions</h4>
					</div>
					<div class="modal-body">
						<p>Deletes any selected Transactions with the reason given below.</p>
						<p><strong>This action cannot be reversed.</strong></p>
						<p>Please type <code>delete</code> into the input below to confirm:</p>
						<div class="form-group" v-bind:class="{'has-error' : valid_deletion_confirmation == false}">
							<input v-model="deletion.confirmation" @input="validate()" type="text" class="form-control" value="" autocomplete="off" />
						</div>
					</div>
					<div class="modal-footer">
						<button @click="confirmDelete()" class="btn btn-danger btn-sm" :disabled="selected_transactions.length < 1 || valid_deletion_confirmation == false">
							<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete Transactions
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import moment from "moment-timezone";
export default {
  mounted() {
    const self = this;
    this.$socket.findChannel("edit", "organization").then(res => {
      self.channel = res.channel;
      self.channel.on("timezone", payload => {
        self.timezone = payload.timezone;
      });
      self.channel.on("search_results", payload => {
        const results = payload.results;
        for (let i = 0; i < results.length; i++) {
          results[i].status = self.formatStatus(
            results[i].invalidated_at,
            results[i].invalidation_reason
          );
          results[i].platform = self.formatPlatform(results[i].platform);
          results[i].date = self.formatDate(results[i].date);
        }
        self.transactions = results;
      });
      self.channel.on("invalidated_transactions", payload => {
        self.alert.text = `${payload.total} transactions invalidated`;
        self.alert.hide = false;
        self.search();
      });
      self.channel.on("deleted_transactions", payload => {
        self.alert.text = `${payload.total} transactions deleted`;
        self.alert.hide = false;
        self.search();
      });
    });
  },
  data() {
    return {
      alert: {
        hide: true,
        text: ""
      },
      timezone: "America/New_York",
      transactions: [],
      email: null,
      selected_transactions: [],
      invalidation: {
        confirmation: null,
        reason: null
      },
      deletion: {
        confirmation: null
      },
      valid_invalidation_confirmation: false,
      valid_invalidation_reason: false,
      valid_deletion_confirmation: false
    };
  },
  methods: {
    search() {
      this.channel.push("search_transactions", { email: this.email });
    },
    confirmInvalidate() {
      if (
        this.invalidation.confirmation == "invalidate" &&
        this.invalidation.reason != null &&
        this.invalidation.reason != ""
      ) {
        this.valid_invalidation_confirmation = true;
        this.valid_invalidation_reason = true;
        this.invalidation.confirmation = null;
        this.channel.push("invalidate_transactions", {
          transaction_ids: this.selected_transactions,
          invalidation_reason: this.invalidation.reason
        });
        $("#transaction-invalidate-confirmation").modal("hide");
      } else if (
        this.invalidation.reason == null ||
        this.invalidation.reason == ""
      ) {
        this.invalidation.valid_invalidation_reason = false;
      } else {
        this.invalidation.valid_invalidation_confirmation = false;
      }
    },
    confirmDelete() {
      if (this.deletion.confirmation == "delete") {
        this.deletion.confirmation = null;
        this.deletion.valid_deletion_confirmation = true;
        this.channel.push("delete_transactions", {
          transaction_ids: this.selected_transactions
        });
        $("#transaction-delete-confirmation").modal("hide");
      } else {
        this.deletion.valid_deletion_confirmation = false;
      }
    },
    validate() {
      if (this.deletion.confirmation == "delete") {
        this.valid_deletion_confirmation = true;
      } else {
        this.valid_deletion_confirmation = false;
      }

      if (this.invalidation.confirmation == "invalidate") {
        this.valid_invalidation_confirmation = true;
      } else {
        this.valid_invalidation_confirmation = false;
      }

      if (this.invalidation.reason != null && this.invalidation_reason != "") {
        this.valid_invalidation_reason = true;
      } else {
        this.valid_invalidation_reason = false;
      }
    },
    hideAlert() {
      this.alert.hide = true;
    },

    formatPlatform(platform) {
      return {
        class: "label-" + platform.split("_")[0].toLowerCase(),
        name: platform.split("_").join(" ")
      };
    },

    formatStatus(date, reason) {
      if (date != null) {
        return {
          class: "label-danger",
          text: 'Invalid: "' + reason + '"',
          date: this.formatDate(date)
        };
      } else {
        return {
          class: "label-success",
          text: "Valid",
          date: null
        };
      }
    },

    formatDate(date) {
      try {
        return moment
          .utc(date)
          .tz(this.timezone)
          .format("M/D/YYYY h:mma");
      } catch (e) {
        return date;
      }
    },

    selectDeselectAll() {
      if (this.transactions.length > this.selected_transactions.length) {
        this.selected_transactions = [];
        for (let i = 0; i < this.transactions.length; i++) {
          this.selected_transactions.push(this.transactions[i].id);
        }
      } else {
        this.selected_transactions = [];
      }
    }
  }
};
</script>
