<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Success!</h3>

			<h4>You have successfully connected your device to <%= @organization.name %>.</h4>
			<p>Please return to your device.</p>
		</div>
	</div>
</div>
