<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Unable to verify the connection for <%= @organization.name %>.</h3>

			<p>Please try again. If this problem persists, please contact <%= @organization.name %>.</p>
		</div>
	</div>
</div>
